/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
*
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
*
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

:root {
  --light--brown: #b08968;
  --white: #fff;
  --dull--beige: #ede0d4;
  --beige: #fae0cf;
  --brown: #7f5539;
  --dark--brown: #4a260f;
  --dull--dark--brown: #5c3c27;

  /* Leaderboard */
  --off--beige: #f2d3be;
  --light--beige: #ffebdd;
  --gold: #e4aa20;
  --light--gold: #ffd05e;
  --silver: #acacac;
  --light--silver: #e0e0e0;
  --bronze: #a6795b;
  --light--bronze: #d5b198;

  --outline: 0.3vw;
  ---outline: -0.3vw;

  --xxs: 0.5vw;
  --xs: 1vw;
  --xss: 1.5vw;
  --s: 2vw;
  --sm: 3vw;
  --m: 4vw;
  --ml: 5vw;
  --l: 6vw;
  --xl: 8vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Paytone One", sans-serif;
  font-weight: normal;
  overflow: hidden;
  font-style: normal;
  text-shadow: 0.05vw 0.05vw 0.2vw rgba(0, 0, 0, 0.5); /* Horizontal, Vertical, Blur radius, Color */
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary); /*would need to adjust if using*/
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim); /*would need to adjust if using*/
}
