/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
*
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
*
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

:root {
  --white: #fff;
  --light--beige: #ffebdd;
  --dull--beige: #ede0d4;
  --beige: #fae0cf;
  --off--beige: #f2d3be;
  --dark--beige: #e1b89c;
  --off--dark--beige: #d2a68a;
  --light--beige--glass: rgba(255, 226, 203, 0.629);
  --beige--glass: rgba(241, 192, 152, 0.589);
  --brown--glass: rgba(140, 100, 73, 0.708);
  --light--brown: #b08968;
  --off--light--brown: #b17f59;
  --dark--light--brown: #a87a55;
  --brown: #7f5239;
  --beige--shadow: rgb(179, 136, 87);

  --off--brown: #6e452f;
  --dull--dark--brown: #5e402c;
  --dark--brown: #4a230f;
  --off--dark--brown: #411e0c;

  /* Leaderboard */

  --gold: #e4aa20;
  --light--gold: #ffcc5e;
  --silver: #acacac;
  --light--silver: #e0e0e0;
  --bronze: #ca8456;
  --light--bronze: #e8b38e;

  --outline: 0.2vw;
  ---outline: -0.2vw;

  --xxs: 0.5vw;
  --xs: 1vw;
  --xss: 1.5vw;
  --s: 2vw;
  --sm: 3vw;
  --m: 4vw;
  --ml: 5vw;
  --l: 6vw;
  --xl: 8vw;
}

body {
  background-image: linear-gradient(
    45deg,
    var(--dark--light--brown),
    var(--light--brown),
    var(--off--light--brown),
    var(--dark--light--brown),
    var(--light--brown),
    var(--off--light--brown)
  );
  margin: 0;
  padding: 0;
  font-family: "Paytone One", sans-serif;
  font-weight: normal;
  overflow: hidden;
  font-style: normal;
  text-shadow: 0.05vw 0.05vw 0.2vw rgba(0, 0, 0, 0.7); /* Horizontal, Vertical, Blur radius, Color */
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary); /*would need to adjust if using*/
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim); /*would need to adjust if using*/
}
