.home-container {
  height: 100dvh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.home-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.center-container {
  background-color: var(--beige);
  padding: var(--s);
  border-radius: var(--xs);
  box-shadow: 0.1vw 0.1vw var(--xxs) rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 15vw;
  height: 12vw;
  margin-bottom: var(--s);

  background: var(--light--beige--glass);
  backdrop-filter: blur(0.2vw);
  -webkit-backdrop-filter: blur(0.2vw);
  border: 0.1vw solid rgba(255, 255, 255, 0.3);
}

.player-button {
  background-color: var(--brown);
  font-size: var(--s);
  color: var(--beige);
  border-radius: var(--xxs);
  padding: var(--xxs);
  margin-bottom: var(--xxs);
  box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.6);
  width: 14vw;
  cursor: pointer;
  overflow: hidden;
  background-image: linear-gradient(
    45deg,
    var(--brown),
    var(--off--brown),
    var(--dark--brown),
    var(--brown)
  );
  transition: all 0.2s ease; /* Smooth transition */
}

.player-button:hover {
  transform: scale(1.03);
  color: var(--brown);
  text-shadow: none;
  background-color: var(--light--beige);
  background-image: linear-gradient(45deg, var(--light--beige), var(--light--beige));
}

/* MODAL FOR MULTIPLAYER GAME */

.room-modal-container {
  padding: var(--xs);
  border-radius: var(--xxs);
  box-shadow: 0 0 var(--xs) rgba(0, 0, 0, 0.3);
  width: 30vw; /* Set the width of the modal */
  height: 25vw;
  display: flex;
  flex-direction: column; /* Change to column to stack elements vertically */
  justify-content: center;

  align-items: center; /* Center elements horizontally */
  position: relative; /* To position the close button */
  background-color: var(--off--light--brown);
}

.close-button {
  font-size: 1.5vw;
  position: absolute;
  top: var(--xs);
  right: var(--xs);
  background-color: var(--dark--brown);
  color: var(--beige);
  height: var(--s);
  width: var(--s);
  box-shadow: 0 0 var(--xs) rgba(0, 0, 0, 0.3);

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.join-room-container {
  display: flex;
  flex-direction: row; /* Change to column to stack elements vertically */
  align-items: center; /* Center elements horizontally */
  position: relative; /* To position the close button */
}

.room-code {
  width: 14vw;
  padding: var(--xxs);
  font-size: var(--s);
  border: none;
  border-radius: var(--xxs);
  background-color: var(--dark--brown);
  color: var(--light--brown);
  font-family: inherit;
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5);
  opacity: 0.6;
  margin-right: var(--xs);
  filter: brightness(0.7);
}

.room-code:focus {
  outline: none; /* Removes the default focus outline */
  border: none; /* Ensure no border appears on focus */
  opacity: 1;
  filter: brightness(1);
}

.room-code::placeholder {
  color: var(--light--brown); /* Change placeholder color to your desired value */
  opacity: 0.6; /* Ensure the placeholder is not faded (opacity is usually less than 1) */
}

.join-room-button {
  background-color: var(--dark--brown);
  color: var(--beige);
  padding: var(--xxs) var(--xs);
  font-size: var(--s);
  border-radius: var(--xxs);
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    45deg,
    var(--dark--brown),
    var(--off--dark--brown),
    var(--brown),
    var(--dark--brown)
  );
  transition: all 0.3s ease;
}

.join-room-button:hover {
  background-image: linear-gradient(
    45deg,
    var(--dark--beige),
    var(--off--beige),
    var(--beige),
    var(--dark--beige)
  );
}

.create-room-button {
  background-color: var(--off--beige);
  color: var(--dark--brown);
  font-size: var(--sm);
  border-radius: var(--xxs);
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5);
  margin-top: var(--s);
  padding: var(--xs) var(--s);
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    var(--dark--beige),
    var(--off--beige),
    var(--beige),
    var(--off--beige),
    var(--dark--beige),
    var(--off--beige)
  );
  transition: all 0.3s ease;
}

.create-room-button:hover {
  background-color: var(--dark--brown);
  color: var(--beige);
  font-size: var(--sm);
  border-radius: var(--xxs);
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5);
  margin-top: var(--s);
  padding: var(--xs) var(--s);
  background-image: linear-gradient(
    45deg,
    var(--dark--brown),
    var(--off--dark--brown),
    var(--brown),
    var(--dark--brown)
  );
}

/* falling letters */

.letter {
  --tiltamount: 0deg;
  position: absolute;
  color: var(--beige);
  opacity: 0;
  pointer-events: none;
  text-shadow: 0 0 var(--xs) var(--white);
}

.intermediate-container {
  background-image: linear-gradient(
    45deg,
    var(--dark--light--brown),
    var(--light--brown),
    var(--off--light--brown),
    var(--dark--light--brown),
    var(--light--brown),
    var(--off--light--brown)
  );
  height: 100dvh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}
@keyframes fall {
  0% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh) rotate(var(--tiltamount));
  }
}

.theme-container {
  margin-top: var(--xs);
  margin-bottom: var(--s);
  display: flex;
  flex-direction: row;
  z-index: 10000;
}

.theme-input {
  width: 14vw;
  padding: 0.5vw 0.7vw;
  font-size: 1.5vw;
  border: none;
  border-radius: var(--xxs);
  background-color: var(--dark--brown);
  color: var(--beige);
  font-family: inherit;
  box-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  opacity: 0.6;
}

.theme-input:focus {
  outline: none; /* Removes the default focus outline */
  border: none; /* Ensure no border appears on focus */
  opacity: 1;
  filter: brightness(1);
}

.theme-input::placeholder {
  color: var(--beige);
  opacity: 0.6; /* Ensure the placeholder is not faded (opacity is usually less than 1) */
}

.theme-button {
  background-image: linear-gradient(
    45deg,
    var(--dark--beige),
    var(--beige),
    white,
    var(--light--beige),
    var(--dark--beige)
  );
  color: var(--off--brown);
  text-shadow: none;
  padding: 0.5vw 0.7vw;
  font-size: 1.5vw;
  box-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-left: var(--xs);
  border-radius: var(--xxs);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.theme-button:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
}
