.home-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--light--brown);
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.home-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.center-container {
  background-color: var(--beige);
  padding: var(--s);
  border-radius: var(--xxs);
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 15vw; /* Set the width of the box */
  height: 12vw;
  margin-bottom: var(--l);
}

.player-button {
  background-color: var(--brown);
  font-size: var(--s);
  color: var(--beige);
  border-radius: var(--xxs);
  padding: var(--xxs);
  margin-bottom: var(--xxs);
  box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.6);
  width: 14vw;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease,
    background-color 0.2s ease; /* Smooth transition */
}

.player-button:hover {
  transform: scale(1.03);
  color: var(--brown);
  background-color: var(--light--beige);
}

/* MODAL FOR MULTIPLAYER GAME */

.room-modal-container {
  background-color: var(--brown);
  padding: var(--xs);
  border-radius: var(--xxs);
  box-shadow: 0 0 var(--xs) rgba(0, 0, 0, 0.3);
  width: 30vw; /* Set the width of the modal */
  height: 25vw;
  display: flex;
  flex-direction: column; /* Change to column to stack elements vertically */
  justify-content: center;

  align-items: center; /* Center elements horizontally */
  position: relative; /* To position the close button */
}

.close-button {
  font-size: 1.5vw;
  position: absolute;
  top: var(--xs);
  right: var(--xs);
  background-color: var(--light--beige);
  height: var(--s);
  width: var(--s);
  box-shadow: 0 0 var(--xs) rgba(0, 0, 0, 0.3);

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  color: var(--dark--brown);
}

.join-room-container {
  display: flex;
  flex-direction: row; /* Change to column to stack elements vertically */
  align-items: center; /* Center elements horizontally */
  position: relative; /* To position the close button */
}

.room-code {
  width: 14vw;
  padding: var(--xxs);
  font-size: var(--s);
  border: none;
  border-radius: var(--xxs);
  background-color: var(--dark--brown);
  color: var(--light--brown);
  font-family: inherit;
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5);
  opacity: 0.6;
  margin-right: var(--xs);
}

.room-code:focus {
  outline: none; /* Removes the default focus outline */
  border: none; /* Ensure no border appears on focus */
  opacity: 1;
}

.room-code::placeholder {
  color: var(--light--brown); /* Change placeholder color to your desired value */
  opacity: 0.6; /* Ensure the placeholder is not faded (opacity is usually less than 1) */
}

.join-room-button {
  background-color: var(--beige);
  padding: var(--xxs) var(--xs);
  color: var(--brown);
  font-size: var(--s);
  border-radius: var(--xxs);
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5);
}

.create-room-button {
  background-color: var(--beige);
  color: var(--brown);
  font-size: var(--sm);
  border-radius: var(--xxs);
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5);
  margin-top: var(--s);
  padding: var(--xs) var(--s);
}
