/* INFO MODAL */

.info-button {
  position: absolute;
  bottom: var(--s);
  left: var(--s);

  font-size: var(--s);
  color: var(--beige);

  background-color: var(--dark--brown);
  box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.6);
  height: var(--sm);
  width: var(--sm);
  border-radius: 50%;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    transform 0.2s ease; /* Smooth transition */
}

.info-button:hover {
  transform: scale(1.2);
  color: var(--dark--brown);
  background-color: var(--beige);
}

.info-modal-container {
  background-color: var(--light--brown);
  padding: var(--xs);
  border-radius: var(--xxs);
  box-shadow: 0 0 var(--xs) rgba(0, 0, 0, 0.3);
  width: 30vw; /* Set the width of the modal */
  height: 25vw;
  position: relative;
}

.info-modal-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.info-text-container {
  height: 100%;
  display: flex;
  flex-direction: column; /* Change to column to stack elements vertically */
  justify-content: top;

  align-items: left; /* Center elements horizontally */
  position: relative; /* To position the close button */
  overflow-y: auto;
  scroll-behavior: smooth;
}
.info-text-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.info-title {
  font-size: var(--s);
  color: white;
  margin: var(--xs);
  margin-bottom: var(--xs);
}

.info-text {
  font-size: 1.5vw;
  color: var(--beige);
  margin-left: var(--xs);
  margin-right: var(--xs);
  margin-bottom: var(--xxs);
}

.info-text-color {
  color: white;
}

.info-text-title {
  color: var(--dark--brown);
  text-shadow: 0 0 0.1vw rgba(0, 0, 0, 0.503); /* Horizontal, Vertical, Blur radius, Color */
}

.info-close-button {
  font-size: 1.5vw;
  position: absolute;
  top: var(--xs);
  right: var(--xs);
  background-color: var(--dark--brown);
  color: var(--beige);
  height: var(--s);
  width: var(--s);
  box-shadow: 0 0 var(--xs) rgba(0, 0, 0, 0.3);

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  transition:
    color 0.2s ease,
    background-color 0.2 ease;
}

.room-button {
  cursor: pointer;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
}

.room-button:hover {
  color: var(--dark--brown);
  background-color: var(--beige);
}

.room-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}
