.leaderboard-page-container {
  height: 100dvh;
  width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
}

.leaderboard-page-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.leaderboard-title {
  margin: 0;
  font-size: 6.5vw;
  font-weight: normal;
  color: var(--light--beige);
  text-shadow: 0.1vw 0.1vw var(--xxs) rgba(0, 0, 0, 0.7); /* Black shadow */
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.leaderboard-list-container {
  background-color: var(--beige);
  border-radius: var(--s);
  width: 70vw;
  height: 22vw;
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5); /* Adjust as needed */
  margin-bottom: var(--xs);
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: var(--s);
  overflow-y: auto;
  scroll-behavior: smooth;
  background: linear-gradient(
    45deg,
    var(--beige),
    var(--off--beige),
    var(--beige),
    var(--light--beige)
  );
}

.leaderboard-list-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.leaderboard-player-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: top;
  background-image: linear-gradient(45deg, var(--dark--beige), var(--off--beige));
  box-shadow:
    inset 0.1vw 0.1vw 0.3vw rgba(255, 255, 255, 0.5),
    0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.6); /* Adjust as needed */
  margin: var(--xxs);
  padding: var(--xxs) var(--xs);
  margin-bottom: var(--xs);
  border-radius: var(--s);
  color: white;
  font-size: 2.5vw;

  display: flex;
  align-items: center;
  /* flex-wrap: nowrap; new for horizontal scrolling of queries
  overflow-x: auto; */
}

.query-list-container {
  display: none; /* Hide by default */
  padding: var(--xs);
  font-size: 2.5vw; /* Same as the player score text */
  white-space: nowrap;
}

.query-list-container.show {
  display: block; /* Show when clicked */
  /* color: white; */
}

.query-item {
  margin-right: var(--xs);
  white-space: nowrap;
}

.leaderboard-place {
  border-radius: 50%;
  background-color: var(--off--beige);
  width: 3.5vw;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
}

/* customized content */

.leaderboard-player-score-container {
  margin-left: var(--xs);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.leaderboard-player {
  max-width: 40vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboard-player-score {
  display: flex;
  text-align: right;
}

.glowy {
  border: 0.2vw solid white;
  transform: scale(1.02);
  box-shadow:
    inset 0 0 1vw white,
    0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.7);

  filter: brightness(1.05);
}

.leaderboard-settings-container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--m);
}

.leaderboard-dropdown-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--brown);
  color: var(--beige);
  font-size: 2vw;
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.7); /* Adjust as needed */
  border-radius: var(--s);
  padding: var(--xxs) var(--xs);
  margin: 0.5vw;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;
  background-image: linear-gradient(
    45deg,
    var(--off--brown),
    var(--dark--brown),
    var(--brown),
    var(--off--brown)
  );
}

.leaderboard-dropdown-container:hover {
  background-color: var(--beige);
  color: var(--brown);
  transform: scale(1.05);
  text-shadow: none;
  background-image: linear-gradient(45deg, var(--off--beige), var(--beige));
}

.top-player-1 {
  background-image: linear-gradient(
    45deg,
    rgb(230, 165, 26),
    var(--gold),
    var(--light--gold),
    rgb(243, 208, 133),
    var(--gold),
    rgb(230, 165, 26),
    var(--gold),
    var(--light--gold),
    rgb(247, 209, 127),
    var(--gold),
    rgb(230, 165, 26)
  );
  background-size: 400% 400%; /* Expands the gradient size */
  animation: gradientShift 10s ease infinite; /* Animation for smooth movement */
}

.top-player-2 {
  background-image: linear-gradient(
    45deg,
    rgb(124, 124, 124),
    var(--silver),
    var(--light--silver),
    rgb(204, 204, 204),
    var(--silver),
    rgb(124, 124, 124),
    var(--silver),
    var(--light--silver),
    rgb(199, 199, 199),
    var(--silver),
    rgb(124, 124, 124)
  );
  background-size: 400% 400%; /* Expands the gradient size */
  animation: gradientShift 10s ease infinite; /* Animation for smooth movement */
}

.top-player-3 {
  background-image: linear-gradient(
    45deg,
    rgb(158, 84, 48),
    var(--bronze),
    var(--light--bronze),
    rgb(226, 155, 104),
    var(--bronze),
    rgb(158, 84, 48),
    var(--bronze),
    var(--light--bronze),
    rgb(225, 139, 78),
    var(--bronze),
    rgb(158, 84, 48)
  );
  background-size: 400% 400%; /* Expands the gradient size */
  animation: gradientShift 10s ease infinite; /* Animation for smooth movement */
}

.top-player-1-place {
  background-color: var(--light--gold);
}

.top-player-2-place {
  background-color: var(--light--silver);
}

.top-player-3-place {
  background-color: var(--light--bronze);
}

.intermediate-container {
  background-image: linear-gradient(
    45deg,
    var(--dark--light--brown),
    var(--light--brown),
    var(--off--light--brown),
    var(--dark--light--brown),
    var(--light--brown),
    var(--off--light--brown)
  );
  height: 100dvh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-container {
  background-color: var(--off--beige);
  border-radius: var(--s);
  width: 60%; /* Adjust the modal width */
  height: 75%; /* Adjust the modal height */
  max-width: 600px; /* Optional constraint for larger screens */
  max-height: 600px; /* Optional height constraint */
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: var(--s);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.modal-title {
  text-align: center;
  font-size: var(--m);
  color: var(--brown);
  margin: 5px 0; /* Reduce the margin */
}

.modal-result-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 5px; /* Add spacing between list items */
}

.modal-result-term {
  display: flex;
  justify-content: space-between;
  background-color: var(--brown);
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  padding: var(--xxs) var(--xs);
  border-radius: var(--s);
  color: var(--beige);
  font-size: 1rem;
  align-items: center;
  background: linear-gradient(45deg, var(--brown), var(--off--brown), var(--dark--brown), var(--off--brown));
}

.modal-result-query {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: var(--xxs);
  color: var(--dark--beige);
}

.close-modal-button {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--dark--brown);
  color: var(--white);
  border: none;
  border-radius: 4px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}
