.leaderboard-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--light--brown);
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.leaderboard-title {
  font-size: var(--xl);
}
