.leaderboard-page-container {
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
}

.leaderboard-page-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.leaderboard-title {
  margin: 0;
  font-size: 6.5vw;
  font-weight: normal;
  color: var(--light--beige);
  text-shadow: 0.1vw 0.1vw var(--xxs) rgba(0, 0, 0, 0.7); /* Black shadow */
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.leaderboard-list-container {
  background-color: var(--beige);
  border-radius: var(--s);
  width: 60vw;
  height: 22vw;
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5); /* Adjust as needed */
  margin-bottom: var(--xs);
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: var(--s);
  overflow-y: auto;
  scroll-behavior: smooth;
  background: linear-gradient(
    45deg,
    var(--beige),
    var(--off--beige),
    var(--beige),
    var(--light--beige)
  );
}

.leaderboard-list-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.leaderboard-player-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: top;
  background-image: linear-gradient(45deg, var(--dark--beige), var(--off--beige));
  box-shadow:
    inset 0.1vw 0.1vw 0.3vw rgba(255, 255, 255, 0.5),
    0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.6); /* Adjust as needed */
  margin: var(--xxs);
  padding: var(--xxs) var(--xs);
  margin-bottom: var(--xs);
  border-radius: var(--s);
  color: white;
  font-size: 2.5vw;

  display: flex;
  align-items: center;
}

.leaderboard-place {
  border-radius: 50%;
  background-color: var(--light--beige);
  width: 3.5vw;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
}

.leaderboard-player {
  margin-left: var(--xs);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboard-settings-container {
  width: 60vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--m);
}

.leaderboard-dropdown-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--brown);
  color: var(--beige);
  font-size: 1.7vw;
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.7); /* Adjust as needed */
  border-radius: var(--s);
  padding: var(--xxs) var(--xs);
  margin: 0.5vw;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;
  background-image: linear-gradient(45deg, var(--off--brown), var(--brown));
}

.leaderboard-dropdown-container:hover {
  background-color: var(--beige);
  color: var(--brown);
  transform: scale(1.05);
  text-shadow: none;
  background-image: linear-gradient(45deg, var(--off--beige), var(--beige));
}

.top-player-1 {
  background-image: linear-gradient(45deg, var(--gold), var(--light--gold));
}

.top-player-2 {
  background-image: linear-gradient(45deg, var(--silver), var(--light--silver));
}

.top-player-3 {
  background-image: linear-gradient(45deg, var(--bronze), var(--light--bronze));
}

.top-player-1-place {
  background-color: var(--light--gold);
}

.top-player-2-place {
  background-color: var(--light--silver);
}

.top-player-3-place {
  background-color: var(--light--bronze);
}
