.loading-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--light--brown);
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.loading-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.settings-summary-container {
  margin-top: var(--m);
  padding: var(--s);
  background-color: var(--brown);
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: var(--s);
  box-shadow: 0.05vw 0.05vw 0.2vw rgba(0, 0, 0, 0.3);
  height: 15vw;
  width: 35vw;
  color: var(--beige);
  font-size: var(--s);
}

.settings-title {
  font-size: var(--sm);
  color: var(--dark--brown);
}

.countdown-timer {
  font-size: 12vw;
  color: white;
  background-color: var(--brown);
  border: 1vw solid var(--beige);
  padding-bottom: var(--xs);
  box-shadow: 0.05vw 0.05vw 0.2vw rgba(0, 0, 0, 0.3);
  height: 13vw;
  width: 15vw;
  border-radius: 50%;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.green {
  color: rgb(1, 140, 1);
}

.red {
  color: rgb(255, 18, 18);
}

.white {
  color: white;
}
