.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0 var(--xs); /* Add padding for responsiveness */
  border: var(--xs) solid var(--beige); /* **Added Border** */
  box-sizing: border-box; /* Ensures padding and border don't affect the layout */

  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */

  overflow-y: auto;
  scroll-behavior: smooth;
}

.login-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

/* Styling for the title container */
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-grow: 1;
}

/* Individual styles for 'Chain' */
.chain {
  margin: var(--s);
  width: 50vw;
  padding: var(--xs);

  background-color: var(--brown);
  border: var(--xxs) solid var(--dull--beige); /* **Added Border** */
  box-sizing: border-box; /* Ensures padding and border don't affect the layout */
  box-shadow:
    0 0 var(--xxs) rgba(0, 0, 0, 0.25),
    inset 0 0 var(--xs) var(--beige--shadow); /* Horizontal, vertical, blur radius, shadow color */
  border-radius: var(--s); /* Adjust the radius value as needed */

  display: flex;
  align-items: center; /* Vertically centers the text */
  justify-content: center; /* Centers the content horizontally */
  position: relative; /* Allows absolute positioning of the logo */

  background-image: linear-gradient(
    45deg,
    var(--brown),
    var(--off--brown),
    var(--dark--brown),
    var(--off--dark--brown),
    var(--off--brown)
  );
}

.logo-login {
  height: var(--m);
  width: var(--m);
  position: absolute;
  left: var(--s);
}

.chain-text {
  font-size: var(--l); /* Larger size for 'Chain' */
  font-weight: normal;
  color: var(--dull--beige); /* Dark color for 'Chain' */
}

/* Individual styles for 'Reaction' */
.reaction {
  font-size: var(--l); /* Smaller size for 'Reaction' */
  font-weight: normal;

  color: var(--beige);
  margin: 0;
  border-right: 0.15vw solid var(--beige);

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation:
    typeEraseLoop 6s steps(15) infinite,
    blinking 6s step-end infinite;
}

.first-letter {
  color: var(--dark--brown);
}

/* The typing effect */
@keyframes typeEraseLoop {
  0% {
    width: 0%;
  }
  15% {
    width: 50%;
  }
  75% {
    width: 50%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

@keyframes blinking {
  0% {
    border-right: 0.15vw solid var(--beige);
  }
  23% {
    border-right: 0.15vw solid transparent;
  }
  32% {
    border-right: 0.15vw solid var(--beige);
  }
  41% {
    border-right: 0.15vw solid transparent;
  }
  50% {
    border-right: 0.15vw solid var(--beige);
  }
  59% {
    border-right: 0.15vw solid transparent;
  }
  68% {
    border-right: 0.15vw solid var(--beige);
  }
}

.reaction-line {
  width: 50vw; /* Adjust this width to your preference */
  border: none;
  border-top: var(--xxs) solid var(--dark--brown); /* Make the line using a border */
  margin: 0 auto; /* Center the line */
  border-radius: var(--s); /* Adjust the radius value as needed */
}

/* Style for the Google login container */
.google-login-container {
  margin-top: auto; /* Pushes the Google login button to the bottom */
  margin-bottom: 10px;
}

.guest-login-button {
  margin-bottom: var(--xs);
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
  width: 180px;
  background-color: var(--light--beige);
  color: var(--brown);
  text-shadow: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adjust as needed */

  transition: all 0.3s ease;
}

.guest-login-button:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
}
