.multi-score-container {
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.multi-score-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.multi-results-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: var(--m);
}

.multi-individual-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: var(--s);
}

.multi-personal-title {
  font-size: var(--sm);
  color: var(--beige);
  background-color: var(--dark--brown);
  padding: 0 var(--xs);
  border-radius: var(--s);
  margin-bottom: var(--xs);
  box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
}

.multi-opponent-title {
  font-size: var(--sm);
  color: var(--beige);
  background-color: var(--dark--brown);
  padding: 0.1vw var(--xs);
  border-radius: var(--s);
  margin-bottom: var(--xs);
  box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.multi-opponent-title:hover {
  font-size: var(--sm);
  color: var(--dark--brown);
  background-color: var(--beige);
  padding: 0.1vw var(--xs);
  border-radius: var(--s);
  margin-bottom: var(--xs);
  box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
}

.multi-individual-content {
  background-color: var(--off--beige);
  border-radius: var(--s);
  width: 40vw;
  height: 16vw;
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5); /* Adjust as needed */
  margin-bottom: var(--xs);
  display: flex;
  flex-direction: column;
  padding: var(--s);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.multi-individual-content::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.multi-total-points {
  margin: 0;
  margin-bottom: var(--xs);
  font-size: var(--sm);
  color: var(--beige);
  text-shadow: 0.1vw 0.1vw var(--xxs) rgba(0, 0, 0, 0.7); /* Black shadow */
}

/* BOX ITSELF */

.mp-score-result-container {
  display: flex;
  flex-direction: row;
  justify-content: top;
  background-color: var(--brown);
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
  margin: 0.3vw;
  padding: 0.3vw var(--xs);
  margin-bottom: var(--xs);
  border-radius: var(--s);
  color: var(--white);
  font-size: var(--s);

  display: flex;
  align-items: center;
}

.mp-score-result-term {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: var(--xxs);
}

.mp-score-result-query {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: var(--xxs);
  padding: var(--xxs) var(--xs);
  color: var(--beige);
}

.multi-winner-container {
  font-size: var(--ml);
  color: var(--gold);
  margin: 0;
}

.mp-return-room {
  height: var(--sm);
  width: var(--sm);
  position: absolute;
  bottom: var(--xs);
  right: var(--xs);

  cursor: pointer;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease; /* Smooth transition */
}

.mp-return-room:hover {
  opacity: 0.6;
}
