/* General Container */
.mp-game-container {
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: top;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.mp-game-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.individual-game-container {
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5vw;
  padding-bottom: var(--s);
}

/* Scoreboard */
.highscore-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--s); /* Reduced gap */
  color: var(--gold);
  font-size: var(--s);
}

.highscore-crown {
  height: var(--s);
  width: var(--sm);
}

.mp-score-container {
  display: flex;
  align-items: center;
  font-size: 4.5vw;
  margin-top: var(--s);
}

.mp-score-label {
  color: var(--dark--brown);
  margin-right: var(--xs);
}

.mp-score-value {
  color: var(--beige);
}

/* Results */
.mp-result-container {
  font-size: 2.4vw;
  color: var(--beige);
  display: flex;
  align-items: center;
}

.mp-result-count {
  color: var(--white);
  margin-right: var(--xxs);
}

.mp-result-word {
  color: var(--white);
  max-width: 38vw;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Previous Word */
.mp-prevword-container {
  display: flex;
  align-items: center; /* Vertically centers the text */
  justify-items: center;
  justify-content: center; /* Centers the content horizontally */
  position: relative;

  margin: var(--xs);
  width: 55vw;
  padding: var(--xs);

  background-color: var(--brown);
  border: var(--xxs) solid var(--dull--beige); /* **Added Border** */
  box-sizing: border-box; /* Ensures padding and border don't affect the layout */
  box-shadow:
    0 0 var(--xxs) rgba(0, 0, 0, 0.25),
    inset 0 0 var(--xs) var(--beige--shadow); /* Horizontal, vertical, blur radius, shadow color */
  border-radius: var(--s); /* Adjust the radius value as needed */
  font-size: var(--ml);

  color: var(--dull--beige);

  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  background-image: linear-gradient(
    45deg,
    var(--brown),
    var(--off--brown),
    var(--dark--brown),
    var(--off--dark--brown),
    var(--off--brown)
  );
}

.mp-prevword-text {
  margin-left: 7vw;
  flex-grow: 1;
  white-space: nowrap; /* Prevent the text from wrapping */
  text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
  overflow: hidden; /* Hide any overflowing text */
}

.mp-prevword-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.mp-logo-prevword {
  height: var(--m);
  width: var(--m);
  position: absolute;
  left: var(--s);
}

/* Current Word */

.mp-currword-container {
  width: 38vw;
  font-size: var(--ml);
  color: var(--dark--brown);

  display: flex;
  flex-direction: row;
  justify-content: left;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.mp-currword-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.mp-currword-line {
  margin-top: 0;
  width: 55vw; /* Adjust this width to your preference */
  border: 0.1vw solid var(--dark--brown);
  border-radius: var(--s); /* Adjust the radius value as needed */
}

#searchQuery {
  flex-shrink: 0;
  position: relative;
  font-size: var(--ml);
  border: none;
  outline: none;
  background: transparent;
  font-family: "Paytone One", sans-serif;
  color: var(--beige);
  overflow: auto;
}

#searchQuery.error {
  color: rgb(71, 7, 7);
}

/* Next Letter */
.mp-random-next-letter {
  font-size: 2.4vw;
  color: var(--beige);
  margin-top: var(--xs);
}

/* Query History */

.mp-results-list-container {
  gap: var(--xxs);
  color: var(--dark--brown);
  text-shadow: none;
  padding: 0 var(--xs);

  display: flex;
  font-size: var(--s);
  text-align: left;
  width: 53vw;
  white-space: nowrap;
  overflow: auto;
  margin-top: var(--xs);
  background-color: var(--dull--beige);
  border-radius: var(--xs);
  border: var(--xxs) solid var(--dull--beige);
  box-shadow: 0 0.1vw var(--xxs) rgba(0, 0, 0, 0.55); /* Horizontal, vertical, blur radius, shadow color */
}

.mp-results-list-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

/* Timer */
.mp-time-container {
  background-color: var(--dull--beige);
  border-radius: 50%;
  height: var(--l);
  width: var(--l);

  box-shadow: 0 0.1vw var(--xxs) rgba(0, 0, 0, 0.55); /* Horizontal, vertical, blur radius, shadow color */
  color: var(--dark--brown);
  font-size: 2.4vw;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: var(--s);
  left: var(--s);
}

.scoreboard-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: top;
  align-items: center;

  background-color: var(--brown);
  box-shadow: 0 0.1vw 0.25vw rgba(0, 0, 0, 0.75); /* Horizontal, vertical, blur radius, shadow color */
  border-radius: var(--s);
  width: 30vw;
  margin: 2.5vw;
  margin-top: var(--ml);
  height: 35vw;
  background: linear-gradient(45deg, var(--brown), var(--off--brown), var(--brown));

  border: 0.2vw solid var(--dark--brown);
}

.mp-scoreboard-text {
  color: var(--beige);
  font-size: var(--sm);
  font-weight: normal;
  padding: var(--xxs);
  box-shadow: 0 0.1vw 0.25vw rgba(0, 0, 0, 0.75); /* Horizontal, vertical, blur radius, shadow color */

  background-color: var(--dark--brown);
  border-radius: var(--s);
  width: 25vw;
}

.mp-scoreboard-values {
  color: var(--light--beige);
  font-size: var(--s);
  width: 25vw;
}

.intermediate-container {
    background-image: linear-gradient(
      45deg,
      var(--dark--light--brown),
      var(--light--brown),
      var(--off--light--brown),
      var(--dark--light--brown),
      var(--light--brown),
      var(--off--light--brown)
    );
    height: 100vh;
    width: 100vw;
    box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  