.multiplayer-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--light--brown);
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mp-page-button {
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 var(--xxs) var(--xs) rgba(0, 0, 0, 0.4);
  margin: var(--xxs);
}

.mp-page-button:hover {
  transform: scale(1.03);
}

.mp-settings-button {
  background-color: var(--dark--brown); /* Dark brown */
  color: var(--beige);
  padding: var(--xxs) var(--xs);
  border-radius: var(--s);
  font-size: var(--xss);
  margin-top: var(--xs);
  margin-bottom: auto;
}

.mp-start-button {
  background-color: var(--beige);
  color: var(--dark--brown);
  font-size: var(--l);
  padding: var(--xs) var(--sm);
  border-radius: var(--m);
  margin-top: var(--s);
  margin-bottom: var(--s);
}

.mp-players-title {
  font-size: var(--sm);
  color: #ffffff;
}

.mp-players-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mp-players-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: var(--xs);
}

.mp-player-logo {
  height: var(--ml);
  width: var(--ml);
}

.mp-player-name {
  font-size: var(--xss);
  color: var(--beige);
  text-align: center;
}

.mp-room-code {
  font-size: var(--s);
  color: var(--beige);
  background-color: var(--brown);
  padding: var(--xs) var(--s);
  border-radius: var(--s);
  margin-top: auto;
  margin-bottom: var(--ml);
  box-shadow: 0 0.25vw 0.3vw rgba(0, 0, 0, 0.3);
}
