.multi-score-container {
  height: 100dvh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.multi-score-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.multi-results-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: var(--m);
}

.multi-individual-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: var(--s);
}

.multi-personal-title {
  font-size: var(--sm);
  color: var(--beige);
  background-color: var(--dark--brown);
  padding: 0 var(--xs);
  border-radius: var(--s);
  margin-bottom: var(--xs);
  box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
  background: linear-gradient(
    45deg,
    var(--brown),
    var(--off--brown),
    var(--dark--brown),
    var(--off--brown)
  );
}

.multi-opponent-title {
  font-size: var(--sm);
  color: var(--beige);
  background-color: var(--dark--brown);
  padding: 0.1vw var(--xs);
  border-radius: var(--s);
  margin-bottom: var(--xs);
  box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
  cursor: pointer;
  transition: all 0.2s ease;
  background: linear-gradient(
    45deg,
    var(--brown),
    var(--off--brown),
    var(--dark--brown),
    var(--off--brown)
  );
}

.multi-opponent-title:hover {
  font-size: var(--sm);
  color: var(--dark--brown);
  background-color: var(--beige);
  padding: 0.1vw var(--xs);
  border-radius: var(--s);
  margin-bottom: var(--xs);
  box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
  background: linear-gradient(
    45deg,
    var(--beige),
    var(--off--beige),
    var(--dark--beige),
    var(--off--beige)
  );
  transform: scale(1.1);
}

.multi-individual-content {
  background-color: var(--off--beige);
  border-radius: var(--s);
  width: 40vw;
  height: 16vw;
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5); /* Adjust as needed */
  margin-bottom: var(--xs);
  display: flex;
  flex-direction: column;
  padding: var(--s);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.multi-individual-content::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.multi-total-points {
  margin: 0;
  margin-bottom: var(--xs);
  font-size: var(--sm);
  color: var(--beige);
  text-shadow: 0.1vw 0.1vw var(--xxs) rgba(0, 0, 0, 0.7); /* Black shadow */
}

/* BOX ITSELF */

.mp-score-result-container {
  display: flex;
  background-color: var(--brown);
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
  margin: 0.3vw;
  padding: 0.3vw var(--xs);
  margin-bottom: var(--xs);
  border-radius: var(--s);
  color: var(--light--beige);
  font-size: var(--s);

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(
    45deg,
    var(--brown),
    var(--off--brown),
    var(--dark--brown),
    var(--off--brown)
  );
}

.mp-score-result-term {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: var(--xxs);
  max-width: 20vw;
}

.mp-score-result-query {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: var(--xxs);
  padding: var(--xxs) var(--xs);
  color: var(--dark--beige);
}

.multi-winner-container {
  font-size: var(--ml);
  color: var(--gold);
  margin: 0;
}

.mp-return-room {
  height: var(--m);
  width: var(--m);
  position: absolute;
  bottom: var(--xs);
  right: var(--xs);
  border-radius: 50%;
  box-shadow: 0.1vw 0.1vw 0.4vw rgba(0, 0, 0, 0.7); /* Adjust as needed */
  background: linear-gradient(
    45deg,
    var(--brown),
    var(--dark--brown),
    var(--light--brown),
    var(--off--dark--brown),
    var(--dark--brown)
  );

  cursor: pointer;
  transition: all 0.2s ease; /* Smooth transition */
}

.mp-return-room:hover {
  transform: scale(1.2);
}

.intermediate-container {
  background-image: linear-gradient(
    45deg,
    var(--dark--light--brown),
    var(--light--brown),
    var(--off--light--brown),
    var(--dark--light--brown),
    var(--light--brown),
    var(--off--light--brown)
  );
  height: 100dvh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}
