.multiplayer-container {
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.multiplayer-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.center-players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.mp-page-button {
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 0.1vw var(--xxs) rgba(0, 0, 0, 0.4);
  margin: var(--xxs);
}

.mp-page-button:hover {
  transform: scale(1.03);
}

.mp-settings-button {
  background-color: var(--dark--brown); /* Dark brown */
  color: var(--beige);
  padding: var(--xxs) var(--xs);
  border-radius: var(--s);
  font-size: var(--xss);
  margin-top: var(--xs);
  margin-bottom: auto;
}

.mp-start-button {
  background-color: var(--beige);
  width: 35vw;
  color: var(--dark--brown);
  font-size: var(--l);
  padding: var(--xs) var(--sm);
  border-radius: var(--m);
  margin-top: var(--s);
  margin-bottom: var(--s);
  background-image: linear-gradient(
    45deg,
    var(--dark--beige),
    var(--off--beige),
    var(--beige),
    var(--off--beige),
    var(--dark--beige),
    var(--off--beige)
  );
  text-shadow: none;
  box-shadow:
    0.05vw 0.05vw var(--xxs) rgba(0, 0, 0, 0.7),
    inset 0.05vw 0.05vw var(--xxs) rgba(255, 255, 255, 0.831); /* Adjust as needed */
}

.mp-start-button:hover {
  text-shadow: 0 0 1vw white;
}

.mp-players-title {
  font-size: var(--sm);
  color: var(--white);
}

.mp-players-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mp-players-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: var(--xs);
  width: 14vw;
}

.mp-player-logo {
  height: var(--ml);
  width: var(--ml);
  border-radius: 50%;
  box-shadow: 0 0.1vw var(--xxs) rgba(0, 0, 0, 0.4);
  margin-bottom: 0.3vw;
}

.mp-player-name {
  width: 12vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--xss);
  color: var(--beige);
  padding: 0.1vw var(--xs);
  background-color: var(--dark--brown);
  box-shadow:
    0.05vw 0.05vw 0.1vw rgba(0, 0, 0, 0.57),
    inset 0.05vw 0.05vw 0.1vw var(--beige--shadow);
  border-radius: var(--xs);
  text-align: center;
  margin-top: var(--xxs);
  text-shadow: none;
}

.mp-room-code {
  font-size: var(--s);
  color: var(--beige);
  background-color: var(--brown);
  padding: var(--xxs) var(--s);
  border-radius: var(--sm);
  margin-top: auto;
  margin-bottom: var(--ml);
  box-shadow:
    0.15vw 0.15vw 0.25vw rgba(0, 0, 0, 0.7),
    inset 0.05vw 0.05vw 0.1vw var(--beige--shadow);
  background-image: linear-gradient(
    45deg,
    var(--brown),
    var(--light--brown),
    var(--brown),
    var(--off--brown),
    var(--brown),
    var(--light--brown)
  );
  background-size: 400% 400%; /* Expands the gradient size */
  animation: gradientShift 8s ease infinite; /* Animation for smooth movement */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mp-player-name.s-host {
  color: var(--dark--brown);
  background: linear-gradient(
    45deg,
    var(--beige),
    var(--light--brown),
    white,
    var(--dark--beige),
    var(--light--beige),
    white,
    var(--dark--beige),
    white,
    var(--light--brown)
  );
  background-size: 400% 400%; /* Expands the gradient size */
  animation: gradientShift 8s ease infinite; /* Animation for smooth movement */
}

.intermediate-container {
    background-image: linear-gradient(
      45deg,
      var(--dark--light--brown),
      var(--light--brown),
      var(--off--light--brown),
      var(--dark--light--brown),
      var(--light--brown),
      var(--off--light--brown)
    );
    height: 100vh;
    width: 100vw;
    box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
