.settings-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-modal-content {
  background-color: var(--dull--dark--brown);
  padding: var(--m);
  border-radius: var(--xxs);
  width: 40vw;
  text-align: center;
  box-shadow: 0.1vw 0.1vw var(--xxs) rgba(0, 0, 0, 0.5);
}

.settings-modal-close {
  font-size: var(--s);
  color: var(--dark--brown);
  cursor: pointer;
  margin-bottom: var(--s);
  padding: var(--xs) var(--s);
  background-color: var(--beige);
  border-radius: var(--xs);
  text-align: center;
  transition: all 0.3s ease;
}

.settings-modal-close:hover {
  background-color: var(--dark--brown);
  color: var(--beige);
}

.settings-modal-minLetters {
  display: flex;
  gap: var(--s);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.settings-modal-minLetters-title {
  flex: 4;
  text-align: left;
  font-size: var(--s);
  color: var(--beige);
}

.settings-modal-minLetters-slider {
  flex: 6;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: var(--xs);
  height: var(--xs);
  position: relative;
}

input[type="range"] {
  -webkit-appearance: none; /* Remove default browser styling */
  appearance: none;
  width: 100%; /* Full width */
  height: var(--xs); /* Height of the track */
  background: var(--dark--brown); /* Track background color */
  border-radius: var(--s); /* Rounded track edges */
  outline: none; /* Remove outline */
}

/* Track Styling (Webkit browsers like Chrome, Safari) */
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--dark--brown); /* Track background color */
  border-radius: var(--s);
  height: var(--xs);
}

/* Thumb Styling (Webkit browsers like Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default browser styling */
  appearance: none;
  width: var(--s); /* Thumb width */
  height: var(--s); /* Thumb height */
  background: #ffffff; /* Thumb color */
  border-radius: 50%; /* Circular thumb */
  cursor: pointer; /* Pointer cursor */
  position: relative;
  box-shadow: 0 0.1vw 0.25vw rgba(0, 0, 0, 0.4); /* Shadow for aesthetics */
  transform: translateY(-0.5vw);
}

/* Track Styling (Mozilla browsers like Firefox) */
input[type="range"]::-moz-range-track {
  background: var(--dark--brown); /* Track background color */
  border-radius: var(--s);
  height: var(--xs);
}

/* Thumb Styling (Mozilla browsers like Firefox) */
input[type="range"]::-moz-range-thumb {
  width: var(--s);
  height: var(--s);
  background: #ffffff; /* Thumb color */
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0.1vw 0.25vw rgba(0, 0, 0, 0.4); /* Shadow for aesthetics */
  transform: translateY(-0.5vw);
}

/* Track Styling (Microsoft Edge and IE) */
input[type="range"]::-ms-track {
  background: transparent; /* IE requires transparent track */
  border-color: transparent;
  color: transparent;
  width: 100%;
  height: var(--xs);
}

input[type="range"]::-ms-fill-lower {
  background: var(--dark--brown); /* Track background color */
  border-radius: var(--s);
}

input[type="range"]::-ms-fill-upper {
  background: var(--dark--brown); /* Track background color */
  border-radius: var(--s);
}

/* Thumb Styling (Microsoft Edge and IE) */
input[type="range"]::-ms-thumb {
  width: var(--s);
  height: var(--s);
  background: #ffffff; /* Thumb color */
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0.1vw 0.25vw rgba(0, 0, 0, 0.4); /* Shadow for aesthetics */
}

.settings-modal-minLetters-value {
  flex: 1;
  font-size: var(--s);
  color: var(--beige);
  text-align: right;
}

.settings-modal-time {
  margin-top: var(--xs);
  display: flex;
  gap: var(--xs);
  align-items: center;
}

.settings-modal-time-title {
  display: flex;
  font-size: var(--s);
  width: 100%;
  color: var(--beige);
}

.settings-modal-time-buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--xs);
}

.settings-modal-time-buttons div {
  font-size: var(--s);
  color: var(--dark--brown);
  cursor: pointer;
  padding: var(--xs) var(--s);
  background-color: transparent;
  border: 0.2vw solid var(--dark--brown);
  border-radius: var(--xs);
  transition: all 0.3s ease;
}

.settings-modal-time-buttons div.active {
  background-color: var(--beige);
  color: var(--dark--brown);
  border-color: var(--dark--brown);
}

.settings-modal-hideLetter,
.settings-modal-hardMode {
  margin: var(--s) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: var(--s);
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--m);
  height: var(--s);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.settings-modal-hideLetter,
.settings-modal-hardMode {
  margin: var(--s) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light--brown);
  transition: 0.4s;
  border-radius: var(--s);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  left: 0.25vw;
  bottom: 0.25vw;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--dark--brown);
}

input:checked + .slider:before {
  transform: translateX(2vw);
}

.settings-modal-hideLetter,
.settings-modal-hardMode {
  margin: var(--xs) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--beige);
  font-size: var(--s);
}
