/* General Container */
.game-container {
  height: 100dvh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.game-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

/* Scoreboard */
.highscore-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--s); /* Reduced gap */
  color: var(--gold);
  font-size: var(--s);
}

.highscore-crown {
  height: var(--s);
  width: var(--sm);
}

.score-container {
  display: flex;
  align-items: center;
  font-size: 4.5vw;
}

.score-label {
  color: var(--dark--brown);
  margin-right: var(--xs);
}

.score-value {
  color: var(--beige);
}

/* Results */
.result-container {
  font-size: 2.4vw;
  color: var(--beige);
  display: flex;
  align-items: center;
}

.result-count {
  color: var(--white);
  margin-right: var(--xxs);
}

.result-word {
  color: var(--white);
  max-width: 60vw;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Previous Word */
.prevword-container {
  display: flex;
  align-items: center; /* Vertically centers the text */
  justify-items: center;
  justify-content: center; /* Centers the content horizontally */
  position: relative;

  margin: var(--xs);
  width: 80vw;
  padding: var(--xs);

  background-color: var(--brown);
  border: var(--xxs) solid var(--dull--beige); /* **Added Border** */
  box-sizing: border-box; /* Ensures padding and border don't affect the layout */
  box-shadow:
    0 0 var(--xxs) rgba(0, 0, 0, 0.25),
    inset 0 0 var(--xs) var(--beige--shadow);
  border-radius: var(--s); /* Adjust the radius value as needed */
  font-size: var(--ml);

  color: var(--dull--beige);

  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  background-image: linear-gradient(
    45deg,
    var(--brown),
    var(--off--brown),
    var(--dark--brown),
    var(--off--dark--brown),
    var(--off--brown)
  );
}

.prevword-text {
  margin-left: 7vw;
  flex-grow: 1;
  white-space: nowrap; /* Prevent the text from wrapping */
  text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
  overflow: hidden; /* Hide any overflowing text */
}

.prevword-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.logo-prevword {
  height: var(--m);
  width: var(--m);
  position: absolute;
  left: var(--s);
}

/* Current Word */

.currword-container {
  width: 63vw;
  font-size: var(--ml);
  color: var(--dark--brown);

  display: flex;
  flex-direction: row;
  justify-content: left;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.currword-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.currword-line {
  margin-top: 0;
  width: 75vw; /* Adjust this width to your preference */
  border: 0.1vw solid var(--dark--brown);
  border-radius: var(--s); /* Adjust the radius value as needed */
}

#searchQuery {
  flex-shrink: 0;
  position: relative;
  font-size: var(--ml);
  border: none;
  outline: none;
  background: transparent;
  font-family: "Paytone One", sans-serif;
  color: var(--beige);
  overflow: auto;
}

#searchQuery.error {
  color: rgb(71, 7, 7);
}

/* Next Letter */
.random-next-letter {
  font-size: 2.4vw;
  color: var(--beige);
  margin-top: var(--xs);
}

/* Query History */

.results-list-container {
  gap: var(--xxs);
  color: var(--dark--brown);
  text-shadow: none;
  padding: 0 var(--xs);
  display: flex;
  font-size: var(--s);
  text-align: left;
  width: 88vw;
  white-space: nowrap;
  overflow: auto;
  margin-top: var(--xs);
  background-color: var(--dull--beige);
  border-radius: var(--xs);
  border: var(--xxs) solid var(--dull--beige);
  box-shadow: 0 0.1vw var(--xxs) rgba(0, 0, 0, 0.55); /* Horizontal, vertical, blur radius, shadow color */
}

.results-list-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

/* Timer */
.time-container {
  background-color: var(--dull--beige);
  border-radius: 50%;
  height: var(--l);
  width: var(--l);

  box-shadow: 0 0.1vw var(--xxs) rgba(0, 0, 0, 0.55); /* Horizontal, vertical, blur radius, shadow color */
  color: var(--dark--brown);
  font-size: 2.4vw;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: var(--s);
  left: var(--s);
}

.intermediate-container {
  background-image: linear-gradient(
    45deg,
    var(--dark--light--brown),
    var(--light--brown),
    var(--off--light--brown),
    var(--dark--light--brown),
    var(--light--brown),
    var(--off--light--brown)
  );
  height: 100dvh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.restart-button-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, var(--light--beige), white, var(--dark--beige), var(--beige));
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: var(--s);
  top: var(--s);
  transition: all 0.3s ease;
}

.restart-button-container:hover {
  transform: scale(1.1);
  filter: brightness(2);
}

.restart-button {
  height: var(--m);
  width: var(--m);
}
