/* General Container */
.game-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--light--brown);
    box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* Scoreboard */
  .highScore-css {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--xxxs) 0; /* Reduced gap */
    padding: var(--xxs);
    border-radius: var(--xxs);
    font-size: var(--s);
    margin-top: var(--xxxs); /* Reduced gap */
    margin-bottom: var(--xxxs); /* Reduced gap */
  }
  #highScore {
    color: var(--gold);
  }
  #highScoreVal {
    color: var(--gold);
  }
  
  .score-css {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--xxxs) 0; /* Reduced gap */
    padding: var(--xxs);
    border-radius: var(--xxs);
    font-size: var(--m);
    margin-bottom: 0;
  }
  #score {
    color: var(--dark--brown);
  }
  #scoreVal {
    color: var(--beige);
  }
  
  /* Previous Word */
  #prevWord {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: var(--xxxs) 0; /* Reduced gap */
    padding: var(--xxs);
    border-radius: var(--xxs);
    text-align: center;
    gap: var(--xxxs); /* Reduced gap */
    margin-top:0;
    margin-bottom: 0;
    font-size: var(--l);
  }
  
  .curLetter-css {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  #curLetter {
    font-size: var(--l);
  }
  
  /* Current Word */
  .curWord-css {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--xxxs) 0; /* Reduced gap */
    padding: var(--xxxs); /* Reduced padding */
    border-radius: var(--xxs);
    text-align: center;
    margin-top:0;
    margin-bottom: 0;
    font-size: var(--l);
  }
  
  #searchQuery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    padding: var(--xxxs); /* Reduced padding */
    font-size: var(--l);
    border: none;
    outline: none;
    background: transparent;
    border-radius: 5px;
    width: 200px;
    font-family: "Paytone One", sans-serif;
  }
  
  #searchQuery.error {
    color: rgb(71, 7, 7);
  }
  
  /* Random Letter */
  .random-css {
    margin: var(--xxxs) 0; /* Reduced vertical gap */
    font-size: var(--s);
    color: #3c2f24;
    font-weight: bold;
  }
  
  /* Timer */
  .timer-css {
    margin: var(--xxxs) 0; /* Reduced vertical gap */
    font-size: var(--s);
    color: #3c2f24;
  }
  
  /* Results */
  .result-css {
    margin: var(--xxs) 0; /* Reduced vertical gap */
    font-size: 16px;
  }
  
  .result-css span {
    font-weight: bold;
    color: #000;
  }
  
  /* Query History */
  .resultsList-css {
    text-align: left;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .resultsList-css span {
    margin-right: 3px; /* Reduced horizontal spacing */
    color: #3c2f24;
    font-weight: bold;
  }
  