.singleplayer-container {
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-items: center;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.singleplayer-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.sp-page-button {
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 0.1vw var(--xxs) rgba(0, 0, 0, 0.4);
  margin: var(--xxs);
}

.sp-page-button:hover {
  transform: scale(1.03);
}

.sp-settings-button {
  background-color: var(--dark--brown); /* Dark brown */
  color: var(--beige);
  padding: var(--xxs) var(--xs);
  border-radius: var(--s);
  font-size: var(--xss);
}

.sp-start-button {
  background-color: var(--beige);
  color: var(--dark--brown);
  font-size: var(--l);
  padding: var(--xs) var(--sm);
  border-radius: var(--m);
  margin-top: var(--s);
  margin-bottom: var(--xl);
}
