.standings-container {
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 var(--xs) rgba(0, 0, 0, 0.3); /* Adjust as needed */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.standings-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.mp-go-results {
  height: var(--sm);
  width: var(--sm);
  position: absolute;
  bottom: var(--xs);
  right: var(--xs);

  cursor: pointer;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease; /* Smooth transition */
}

.mp-go-results:hover {
  opacity: 0.6;
}

.standings-title {
  margin: 0;
  font-size: 6.5vw;
  color: var(--beige);
  font-weight: normal;
  text-shadow: 0.1vw 0.1vw var(--xxs) rgba(0, 0, 0, 0.7); /* Black shadow */
}

.standings-list-container {
  background-color: var(--beige);
  border-radius: var(--s);
  width: 60vw;
  max-height: 22vw;
  box-shadow: 0 0 var(--xxs) rgba(0, 0, 0, 0.5); /* Adjust as needed */
  margin-bottom: var(--l);
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: var(--s);
  overflow-y: auto;
  scroll-behavior: smooth;
  background: linear-gradient(
    45deg,
    var(--beige),
    var(--off--beige),
    var(--beige),
    var(--light--beige)
  );
}

.standings-list-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
}

.standings-player-container {
  display: flex;
  flex-direction: row;
  justify-content: top;
  background-color: var(--off--beige);
  box-shadow:
    inset 0.1vw 0.1vw 0.3vw rgba(255, 255, 255, 0.5),
    0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.6); /* Adjust as needed */
  margin: var(--xxs);
  padding: var(--xxs) var(--xs);
  margin-bottom: var(--xs);
  border-radius: var(--s);
  color: white;
  font-size: 2.5vw;

  display: flex;
  align-items: center;
  background-image: linear-gradient(45deg, var(--dark--beige), var(--off--beige));
}

.standings-place {
  border-radius: 50%;
  background-color: var(--light--beige);
  width: 3.5vw;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.5); /* Adjust as needed */
}

.standings-player {
  margin-left: var(--xs);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.s-top-player-1 {
  background-image: linear-gradient(45deg, var(--gold), var(--light--gold));
}

.s-top-player-2 {
  background-image: linear-gradient(45deg, var(--silver), var(--light--silver));
}

.s-top-player-3 {
  background-image: linear-gradient(45deg, var(--bronze), var(--light--bronze));
}

.s-top-player-1-place {
  background-color: var(--light--gold);
}

.s-top-player-2-place {
  background-color: var(--light--silver);
}

.s-top-player-3-place {
  background-color: var(--light--bronze);
}
