.navbar-container {
  background-color: var(--brown);
  padding-top: var(--xs);
  padding: var(--xxs);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center; /* Ensure vertical alignment */
  height: 2.75vw;
}

.navbar-link {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease; /* Smooth transition */
}

.navbar-link:hover {
  opacity: 0.65; /* Slight transparency when hovered */
}

.navigate-home-container {
  margin-left: var(--xs);
  display: flex;
  align-items: center;
}

.logo {
  height: var(--s);
  width: var(--s);
}

.title-text {
  color: var(--beige);
  margin-left: var(--xs);
  font-size: var(--s);
  text-decoration: none;
}

.right-container {
  display: flex;
  align-items: center;
}

.leaderboard {
  height: var(--s);
  width: var(--sm);
  margin-right: var(--xs);
  display: flex;
  align-items: center;
}

.logout {
  height: var(--s);
  width: var(--s);
  margin-right: var(--xs);
  display: flex;
  align-items: center;
}

.nav-profile {
  color: var(--beige);
  height: var(--s);
  background-color: var(--dark--brown);
  border-radius: var(--s);
  margin-right: var(--xs);
  padding-left: var(--xs);
  padding-right: var(--xs);
  font-size: var(--s);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  box-shadow: 0.05vw 0.05vw 0.1vw rgba(0, 0, 0, 0.5);
}
